
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.webp);
  font-family: Arial, sans-serif;
}

.form-register {
  width: 27rem;
  max-width: 95%;
  background: #333;
  padding: 1.875rem;
  margin: auto;
  margin-top: 6.25rem;
  border-radius: 0.625rem;
  font-family: Georgia;
  color: white;
  box-shadow: 0.4375rem 0.8125rem 2.3125rem #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #222;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
  border: 1px solid #1fc580;
  font-family: Georgia;
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1e7450;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.form-register .botons:hover {
  background: #55b68e;
  transition: background-color 0.3s;

}