/* Estilos generales */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root{
    --logo-color: #e7d6ad;
}
*{
    font-family:Montserrat;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin: 5%;
}

/* Estilos de las secciones */
.parent {

    margin-top: 10%;
    height: auto;
    gap: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 3fr)); 
    padding: 2%;
    background-color: #ebebeb;
}
@media all and (max-width:740px) {
    .parent{
        gap:5%;
        padding-bottom: 45%;
        margin-bottom: 20%;
    }
    section .dias li {
        font-size: 10px;
        line-height: 0.2;
      }
    .mes{
        margin-top: 2px;
    }
}

.parent section{
    h1{
        font-size: xx-large;
        margin: 1% 0 5% 0;

    }
}

.horario{
    p{
        color:#555555;
        margin-bottom: 3%;
    }
    a{
        text-decoration: underline;
        color: black;
    }
    .gratis{
        margin-top: 3%;
        font-style: italic;
    }
}

.mes {
    margin-top: 3%;
    background-color: #f1e2bd00;
    background-image: url(../img/patron-museo.png);
    width: 100%;
    text-align: center;
}

.mes table {
    width: 100%;
    border-collapse: collapse;
}

.mes caption {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.mes th, .mes td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 12px;
}

.mes .semana th {
    background-color: #ddd;
    color: #666;
}

.mes .dias td {
    background-color: #eee;
    color: #777;
}

.mes .dias td .gratis {
    background: #c4b09b;
    color: white;
    border-radius: 100px;
}

.mes .dias td .cerrado {
    background: #bc2d1a;
    color: white;
    border-radius: 100px;
}

/* Responsive */
@media screen and (max-width: 720px) {
    .mes th, .mes td {
        font-size: 10px;
    }
}

@media screen and (max-width: 420px) {
    .mes th, .mes td {
        font-size: 8px;
    }
}
