@import url(https://fonts.googleapis.com/css?family=Montserrat);

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
body{
  background-color: #ebebeb;
}
iframe{
  height: 100%;
  width: 100%;
  border: none;
}


/* Grid con cajas de informacion---------------------- */
.parent {
    margin: 5% 0% 5% 5%;
    width: 80%;
    height: 100vh;
    padding: 1%;
    background-color: #ebebeb;
    display: grid;
    grid:
      "sidebar body" 1fr
      / auto 1fr;
    gap: 5px;
  }
  
  .sidebar { 
        grid-area: sidebar; 
        width: 15vw;
        padding: 5%;
    }
  .body { 
        grid-area: body; 
        background-color: #f1f1f1;
    }
  .sidebar { grid-area: sidebar; }
  .body { grid-area: body; }

/* Estilos para el menú vertical */
.sidebar p {
  font-weight: 600;
}

.sidebar button{
  display: none;
  width: 100%;
  height: 5%;

}

.toggle-checkbox {
  display: none;
}

.menu-item {
    margin-bottom: 10px;
    width: 90%;

}
a:active{
  color: black;
}

.menu-link {
    width: 100%;
    text-decoration: none;
    color: #7d7d7d;
    display: block;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: fit-content;
}

.menu-link:hover {
    background-color: #ddd;
}
.next{
  display: flex;
  justify-content: space-between;
  width: auto;
  max-height:30px ;
}
.collapsible{
  visibility: hidden;  
}

/* Adaptacion para moviles */
@media all and (max-width: 850px) {
  .parent {
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }
  .menu-link{
    width: fit-content;
  }

  .sidebar {
    width: auto;
    padding: 10px; 
    font-size: 14px; 
  }

  .body {
    width: 100%;
    height: 100vh;
  }

  /* Estilo para el botón de filtrar */
  .collapsible {
    visibility:visible;  
    cursor: pointer;
    background-color: #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    text-align: center;
  }

  /* Estilo para el sidebar cuando el checkbox está marcado */
  .toggle-checkbox:checked + .collapsible + .sidebar {
    display: block;
  }

  /* Ocultar el sidebar inicialmente */
  .sidebar {
    display: none;
  }
  .next:last-child{
    margin-right: 11px;
  }

  
}