
@import url(https://fonts.googleapis.com/css?family=Montserrat);
:root{
    --logo-color: #e7d6ad;
}
body {
    margin: 0;
    padding: 0;
    font-family:Montserrat;
}

/* Estilos de la presentación */
.presentacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.it-txt {
    font-size: 2.8vw;
    width: 70%;
    background: linear-gradient(90deg, rgba(45, 32, 0, 1) 0%, rgba(69, 54, 0, 1) 35%, rgba(176, 110, 0, 1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.it2-img {
    width: 30%;
    filter: drop-shadow(6px 5px 4px #1d0112);
    animation: animation 3s infinite ease;
    max-width: 300px;
}
.it2-img img {
    width: 60%;
}
.banner{
    background-color: #f1e2bd;
    background-image: url(../img/patron-museo.png);
    background-size: 190px 180px;
    width: 100%;
    height: 15%;
    position: absolute;
    z-index: -1;
}

img{
    max-width: 100%;

}


/* Animación */
@keyframes animation {
    0% { transform: scale(1); } 
    50% { transform: scale(1.05); }
    100% { transform: scale(1); } 
}


@media all and (max-width:450px) {
    .it2-img img{
        width: 200%;
    }

    .it-txt {
        font-size: 4.5vw;
    }
    .banner{
        height: 10%;
    }
    
}
