
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root{
  --main-color: #bef0d2;
  --background-nav-color: #333;
  --second-color: #111;
  --logo-color:#e7d6ad;
  --color-letras-aside: #a0a0a0;
}

*{
  font-family:Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:16px;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    min-height: 100vh;
}

header, footer {
    grid-column: 1 / -1;
    background-color:var(--background-nav-color);
    color: #fff;
    padding: 1vh; /*Ocupa 10% del en altura*/
}

/* footer ************************************ */
footer {
    display: flex;
    justify-content: space-between;
    grid-row: 3;
    overflow: hidden;
    max-height: 24px;

    p{
      font-size: 12px;
      margin-top: -4px;
    }
    span{
      font-size: 14px;
      margin-top: -5px;

    }
}

@media all and (max-width: 450px) {
  footer{
    max-height: 20px;
    p{
      font-size: 10px;
      margin-top: -4px;
    }
    span{
      font-size: 12px;
      margin-top: -5px;
    }

  }
}

/* Barra superior  ------------------------------*/

/* ----------- */
.head-top{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Imagen Icono ------------------*/
header img {
  filter: drop-shadow(6px 5px 4px #1d0112);
}

.logo{
  max-width: 124px;
  padding: 3px;
  margin-left: 10px;
}

@media all and (max-width: 450px) {
  .logo{
    width: 60px;
    padding: 0;
  }
}

/* Texto central ------------*/
.container h1{
  font-size: 30px;
}
@media all and (max-width: 450px) {
.container h1 { 
    font-size: 5vw;
  }
}
  

/*Formulario ---------------*/
@media all and (max-width: 450px) {
  input[type=text], select {
    font-size: x-small;
    height: 25px;
  }
  input[type=password], select {
    font-size: x-small;
    height: 25px;
  }
  button[type=submit] {
    font-size: small;
  }
}

.form-head-top{
  max-width: 20vw;
}
input[type=text], select {
  width: 90%;
  padding: 6px 15px;
  margin:  0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 90%;
  padding: 6px 15px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}
button[type=submit] {
  width: 90%;
  background-color: var(--logo-color);
  color: white;
  margin: 2px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-sizing: border-box;
}

button[type=submit]:hover {
  background-color: #fcedc9;
}

/* ----------- */
/* Barra de navegacion superior----- */

@media all and (max-width: 450px) {
  nav li a {
    font-size: x-small;
    padding: 4px 9px;

  }
  
}
@media all and (max-width: 350px) {
  nav li.cnto {
    display: none;
  }
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3a3838;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 9px 14px;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav li a:hover:not(.active) {
  background-color:var(--second-color);
}

.active {
  background-color: #04AA6D;
}

nav a:hover:not(.active) {
  background-color: var(--second-color);
}


/* Estilo para pagina main con iframe********************* */
  iframe{
    width: 100%;
    height: 100%;
    border: none;
  }

  /* Menu lateral Colapsable  --------------------------------*/
  aside {
    background-color: var(--background-nav-color);
    width: auto;
  }

  /* Boton para desplegar menu----------------------------. */
    /* Esconder checkbox---------*/
    nav.side-menu > input[type=checkbox] {
      display:none;
    }
    /* Mover UL debajo de Label --------------------*/
    nav.side-menu > input[type=checkbox] + label {
      margin:1em;
    }
    /* Icono cliclable para remplazar checkbox ----*/
    nav.side-menu > input[type=checkbox] + label::after {
      opacity:1;
      color:#e7d6ad;
      font-family: "Font Awesome 5 Free";
      content: "\f150";
      font-size: 32px;
      font-weight:900;
      position:absolute;
      top: 17%;
      left: 0.7vw;
      height: 32px;
      width: 32px;
      line-height: 32px;
      text-align: center;
      transform:rotate(-90deg);
      cursor: pointer;
    }
    @media all and (max-width:450px) {
      nav.side-menu > input[type=checkbox] + label::after {
        opacity:1;
        color:#e7d6ad;
        font-family: "Font Awesome 5 Free";
        content: "\f150";
        font-size: 28px;
        position: absolute;
        top: 14.8vh;
        left: 0.7vw;
      }
    }
    /* Cambio de icono cuando se clica */
    nav.side-menu > input[type=checkbox]:checked + label::after {
      transform:rotate(90deg);
    }
    /* Esconder meni cuando se pulsa */
    nav.side-menu > input[type=checkbox]:checked + label + ul {
      width:38px;
      overflow:hidden;
      span {
        display:none;
      }
    }
  
  /* Estilo menu */

  .side-menu {
    overflow:hidden;
    padding-top: 22%;
    
    ul {
      padding-right: 0px;
      width:200px;
      min-width: 63px;
      margin-right: 0px;
    }

    li {
      border-bottom:solid 0px var(--logo-color);
      position:relative;
      list-style-type:none;
      width: 100%;
    }
    li a {
      color: var(--color-letras-aside);
      text-decoration:none;
    }
    li a i {
      font-size:32px;
      
    }

    @media all and (max-width:450px) {
      li a i {
        font-size:16px;
      }
      li a span{
        font-size:12px;
      }
      ul {
        padding-inline-start:0px;
        width:145px;
        min-width: 30px;
      }
  }
}
  .blue {color:#0598D1;}
  .purple {color:#A05DED;}
  .green {color:#56C833;}
  .orange {color:#FD8342;}
  .ice {color:#54CED5;}
  .red {color:#F66666;}