@import url(https://fonts.googleapis.com/css?family=Montserrat);

*{
    padding: 0;
    margin: 0;
}

/* Estilos generales */
body {
    font-family:Montserrat, monospace, 'Times New Roman', Times, serif;

}
main {
    margin: 3%; 
}

/* Div para animacion con saludo a la web ---------------*/
.cont1 {
position: relative;
width: 100%;
font-family:sans-serif;
height: 55.8vw;
background-image: url(../img/museum.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
 @media all and (max-width: 600px) {
    .cont1 {
        background-size: 130%;
        background-position:-70px -5px;
    }
} 

/* Degradado a blanco
    .cont1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100.5%;
    background: linear-gradient(rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.9) 90%, rgba(255, 255, 255, 1) 100%);
    z-index: 1;
} */

.div-socra, .div-bocadillo, .div-bocadillo2{
top: 44%;
left: 67%;
position: absolute;
width: 25%;
z-index: 1;
filter: drop-shadow(6px 5px 4px #012521);
animation: fadeIn 2s ease; 
z-index: 4;
}

.div-bocadillo{
    left: 40%;
    top : 8% ;
    width: 45%;
    display: flex;
    justify-content: center;
}

@media all and (max-width: 600px) {
    .div-socra, .div-bocadillo, .line-1, .anim-escrib{
    width: auto;
    margin: 1%;
        }
} 

/* Segunda imagen de fondo paralax */

.cont2 {
    top: calc(55.8vw*2 - 118vw);
    position: relative;
    width: 100%;
    font-family:sans-serif;
    height: 60vw;
    background-image: url(https://i.redd.it/sqhzilxp34tc1.png  );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .div-socra{
        top: 45%;
        left: 1%;
        position: absolute;
        width: 30%;
        z-index: 1;
        filter: drop-shadow(6px 5px 4px #012521);
        animation: fadeIn 2s ease; 
        z-index: 4;
    }
    .div-bocadillo2{
        left: 23%;
        top : 30% ;
        width: 57%;
        display: flex;
        justify-content: center;
    }
    .line-1{
        width: 100%;
        position: inherit;
        margin-top: 12%;
        border-right: 2px solid rgba(255,255,255,.75);
        white-space: nowrap;
        overflow: hidden;
        font-size: 2.8vw;
    }
    .line-2{
        position: inherit;
        margin-top: 12%;
        border-right: 2px solid rgba(255,255,255,.75);
        white-space: nowrap;
        overflow: hidden;
        font-size: 2.8vw;
        visibility: hidden;
        b{
            font-size: 2.9vw;
            color: rgb(100, 19, 19);
            
        }
    }

    /* Animacion Escribir segundo paralax */
    .anim-escrib1{
        animation: escrib1 2s steps(60) 4s 1 normal both,
                   blinkTextCursor 800ms steps(44) infinite normal,
                   desparecer 0s ease-in-out 8s forwards;
      }
    .anim-escrib2{ 
        animation: aparecer 0s 8s forwards,
                   escrib2 2s steps(60) 9s 1 normal both,
                   blinkTextCursor 800ms steps(44) infinite normal,
                   desparecer 0s ease-in-out 12s forwards;
    }
    .anim-escrib3{ 
        animation: aparecer 0s 12s forwards,
                   escrib2 2s steps(60) 13s 1 normal both,
                   blinkTextCursor 800ms steps(44) infinite normal,
                   desparecer 0s ease-in-out 17s forwards;
    }
    .anim-escrib4{ 
        animation: aparecer 0s 17s forwards,
                   escrib2 2s steps(60) 17s 1 normal both,
                   blinkTextCursor 800ms steps(44) infinite normal;
    }
}

@keyframes fadeIn {
    10% {opacity: 0;
    filter: blur(7px);}
}

@-webkit-keyframes desparecer {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

@-webkit-keyframes aparecer {
    to {
        visibility:visible;
    }
}


.div-socra:hover{
    transform: scale(1.03);
    transition: all .8s;
}

.div-bocadillo:hover{
    transform: scale(1.03);
    transition: all .8s;
}

img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.line-1{
    position: inherit;
    margin-top: 12%;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    font-size: 3.6vw;
}

/* Animacion simulando escribir ------*/
.anim-escrib{
  animation: escrib 2s steps(60) 1s 1 normal both,
             blinkTextCursor 800ms steps(44) infinite normal;
}
@keyframes escrib{
  from{width: 0;}
  to{width: 10em;}
}
@keyframes escrib1{
    from{width: 0;}
    to{width: 15em;}
  }
  @keyframes escrib2{
    from{width: 0;}
    to{width: 19em;}
  }

@keyframes blinkTextCursor{
  from{border-right-color: rgba(49, 48, 48, 0.75);}
  to{border-right-color: transparent;}
}


/* Texto de seccion --------------------------*/


/* Texto de presentacion --*/

.Presenta-Museo {
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
    position:static;
    z-index: 5;
    margin-top: calc(55.8vw - 63%);

    .it-txt{
        font-size: 3.4vw;
        z-index: 2;
        width: 70%;
        background: linear-gradient(90deg, rgb(163, 117, 0) 0%, rgb(77, 63, 13) 35%, rgb(92, 58, 0) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    .it2-img {
        width: 23%;
        z-index: 3;
    }

    .banner{
        background-color: #f1e2bd;
        background-image: url(../img/patron-museo.png);
        background-size: 150px 130px;
        width: 100%;
        height: 28%;
        max-height: 15vw;
        position: absolute;
        z-index: 1;
    }
    
}

/* Texto presentacio general */

.presentacion, .presentacion1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:static;
    z-index: 1;
}
.it-txt{
    font-size: 2.8vw;
    width: 70%;
    background: linear-gradient(90deg, rgba(45,32,0,1) 0%, rgba(69,54,0,1) 35%, rgba(176,110,0,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.it2-img {
    width: 20%;
    filter: drop-shadow(6px 5px 4px #1d0112);
    animation: animation 3s infinite ease;
}

.banner{
    background-color: #f1e2bd;
    background-image: url(../img/patron-museo.png);
    background-size: 150px 130px;
    width: 100%;
    height: 23%;
    max-height: 15vw;
    position: absolute;
    z-index: -1;
}
.presentacion1{
    margin-top: calc(55.8vw*2 - 125%);
    z-index: 3;
}
@media all and (max-width: 600px) {
    .presentacion1{
        margin-top: calc(55.8vw*2 - 123%);
        z-index: 3;
    }
} 

@media all and (max-width: 600px) {
    .banner{ height: 10%; }
}

@keyframes animation {
    0% { transform: scale(1); } 
    50% { transform: scale(1.05); }
    100% { transform: scale(1); } 
}



/* Carrusel de secciones------------------------------------- */

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;

}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.slide-image article{
    font-size: large;
    position: absolute;
    color: #000000;
    top: 30%;
    left: 30%;
    max-width: 40%;
    border-radius: 1%;
    background-color: rgba(255, 255, 255, 0.757);
    opacity: 0.9;
    padding: 2%;
    z-index: 9;
    margin: 0 0 0 0;
}
@media all and (max-width:600px) {
    .slide-image article{
        left: 8%;
        max-width: 80%;
    }
}

.slide-image article:hover{
    opacity: 1;

}

.carrusel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8;
    font-size: 100px;
    line-height: 600px;
    color: #9c9c9c;
}

.carrusel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0.5;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carrusel-controls label{
    opacity: 0.5;
}

.carrusel-controls label:hover {
    opacity: 1;
}

.carrusel-controls .prev-slide {
    width: 10%;
    text-align: left;
    left: 0;
}

.carrusel-controls .next-slide {
    width: 10%;
    text-align: right;
    right: 0;
}

.carrusel-ps {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 8;
    text-align: center;
}

.carrusel-ps .carrusel-p {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carrusel-controls label {
     display: block; 
}

input#img-1:checked ~ .carrusel-ps label#img-p-1,
input#img-2:checked ~ .carrusel-ps label#img-p-2,
input#img-3:checked ~ .carrusel-ps label#img-p-3{
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }


/* Grid con cajas de informacion---------------------- */
.parent {
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 2fr)); 
    padding: 0% 0 5% 0;
    section{
        background-image: url(../img/patron-museo.png);
    }
    article{
        padding: 4%;
    }
}
    .parent section img{    
        border-radius: 1%;
        object-fit:cover;
        max-height: 240px;
    }

    .parent section img:hover{
        animation: animation 3s ease;
        filter: drop-shadow(0px 0px 3px #000000);
    }   

    p{
        color: #494949;
    }
    
    b{
        font-size: small;
        color:rgb(173, 69, 0);
    }
    @media all and (max-width:700px) {
        .parent {
            gap: 2%;
        }
    }
